{% extends "master.html" %}

{% block title %}
- Cities
{% endblock %}

{% block content %}


<h1>Cities</h1>
<hr />
<table class="table table-hover">
    <thead>
        <tr>
            <th>City</th>
            <th>Country</th>
            <th>Visits</th>
            <th>Last visit</th>
        </tr>
    </thead>
    <tbody>
        {% for x in cities %}
        <tr>
            <td>{{ x.name }}</td>
            <td>{{ x.country__name }}</td>
            <td>{{ x.visits|default:"-" }}</td>
            <td>{{ x.last_visit.date }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}