{% extends "master.html" %}

{% block title %}
- Countries
{% endblock %}

{% block content %}
{% load static %}
<h1>Countries</h1>
<hr />
<div>
    {% for country in countries %}
    <div class="card float-start rounded m-1 shadow">
        <img class="card-img-top" src="{% static 'images/' %}{{country.iso_code}}.jpg"
            style="width:300px; height:200px; object-fit: cover;" alt="Card image">
        <div class="card-body">
            <img class="border float-end" src="{% static 'flags/4x3/' %}{{country.iso_code}}.svg" width="32">
            <h5 class="card-title"><a class="stretched-link text-reset text-decoration-none" href="{{ country.id }}">
                    {{ country.name }}</a>
            </h5>
            <span class="card-text">{{ country.continent }}</span>
            <span class="float-end">{{country.visits}} trip{{ country.visits|pluralize:"s" }}</span>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}