{% extends "master.html" %}

{% block title %}
- {{ trip.title }}
{% endblock %}


{% block content %}

<h1>{{ trip.title }}</h1>
<hr />

<p>Duration: {{ trip.duration }} days</p>
<br>
<div>
    {% for x in stops %}
    <div class="card float-start rounded m-1 shadow" style="width:300px;">
        <div class="card-body">
            <h5 class="card-title"><a class="stretched-link text-reset text-decoration-none" href="{{ x.id }}">
                    {{ x.city__country__name }}, {{ x.city__name }}</a></h5>
                    <p>{{ x.arrival|date:'Y-m-d' }} - {{ x.departure|date:'Y-m-d' }}</p>
        </div>
    </div>
    {% endfor %}
</div>


{% endblock %}