{% extends "master.html" %}
{% block content %}
<h1>My Trips</h1>
<hr />
<div class="float-start">
    <ul class="list-group">
        <li class="list-group-item">
            <span class="badge bg-primary" style="color: white">
                {{stats.trips}}
            </span>
            Trips
        </li>
        <li class="list-group-item">
            <span class="badge bg-primary" style="color: white">
                {{stats.total_duration}}
            </span>
            days traveling
        </li>
        <li class="list-group-item">
            <span class="badge bg-primary" style="color: white">
                {{stats.countries}}
            </span>
            countries
        </li>
        <li class="list-group-item">
            <span class="badge bg-primary" style="color: white">
                {{stats.cities}}
            </span>
            cities
        </li>
        <li class="list-group-item">
            <span class="badge bg-primary" style="color: white">
                {{stats.continents}}
            </span>
            continents
        </li>
    </ul>
</div>
<div class="float-start ms-2">
    <div>
        {% for x in trips %}
        <div class="card float-start rounded m-1 shadow" style="width:300px;">
            <div class="card-body">
                <h5 class="card-title"><a class="stretched-link text-reset text-decoration-none"
                        href="trips/{{ x.id }}">
                        {{ x.title }}</a></h5>
                <p class="card-text">{{ x.duration }} days</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}