{% extends "master.html" %}

{% block title %}
- Stops
{% endblock %}

{% block content %}

<div class="d-flex">
    <h1 class="me-3">Stops</h1>
    <div class="mt-2">
        <button type="button" class="btn btn-primary btn-sm pb-0" data-bs-toggle="modal"
            data-bs-target="#staticBackdrop">
            <i class="fa fa-plus fa-2x"></i>
        </button>
    </div>
</div>
<hr />

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add stops</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="{% url 'add_stops'  %}" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <table class="table table-borderless table-hover mb-3">
                        <thead>
                            <tr>
                                <th class="text-center">
                                    City
                                </th>
                                <th class="text-center">
                                    Arival
                                </th>
                                <th class="text-center">
                                    Departure
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr id='form-row'>
                                <td>
                                    <select class="form-select" name="city" required>
                                        <option value="">---------</option>
                                        {% for city in cities %}
                                        <option value="{{ city.pk }}">{{ city.name }}, {{ city.country__name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td>
                                    <input type="datetime-local" class="form-control" name="arrival" required>
                                </td>
                                <td>
                                    <input type="datetime-local" class="form-control" name="departure" required>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <button id="addNewEntry" class="btn btn-secondary">Add row</button>
                    <div class="row mt-4">
                        <div class="col-sm-6">
                            <fieldset>
                                <label>Trip</label>
                                <input type="text" class="form-control" name="trip">
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<table id="stopsTable" class="table table-hover">
    <thead>
        <tr>
            <th>Location</th>
            <th>Arrival</th>
            <th>Departure</th>
            <th>Trip</th>
        </tr>
    </thead>
    <tbody>
        {% for stop in stops %}
        <tr>
            <td>{{ stop.city__name }}, {{ stop.city__country__name }}</td>
            <td>{{ stop.arrival|date:'Y-m-d' }}</td>
            <td>{{ stop.departure|date:'Y-m-d' }}</td>
            <td>{{ stop.trip__title|default:"-" }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#stopsTable').DataTable({
            order: [],
            pageLength: 50,
        });
    });
    $(document).ready(function () {
        $('#addNewEntry').on('click', function () {
            var clonedRow = $('#form-row').clone();
            clonedRow.find('input, select').val(''); // Clear the values in the cloned row
            $('tbody').append(clonedRow);
        });
    });
</script>

{% endblock %}